#root {
  padding: 0%;
  margin: 0%;
}

body {
  margin: 0%;
  padding: 0%;
}

.banner {
  border: 0.5em solid #d9d9d9;
  display: flex;
  justify-content: center;
  width: auto;

  font-size: x-large;
  letter-spacing: 0.7em;
  font: small-caps bold 18px sans-serif;
}

.main-view {
  display: flex;
}

.sidebar {
  background-color: #d9d9d9;
  width: fit-content;
  padding-left: 1em;
  padding-right: 1em;
}

.sidebar h3 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 18px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}

.content h2 {
  font-size: 24px;
}
